.top .background {
    background: url(../images/sunflower.jpg) no-repeat;
    position: absolute;
    background-size: cover;
    opacity: 0;
}

@media screen and (max-width: 768px){
    .main-menu{
        line-height: 64px;
        padding: 0 10px;
        bottom: 0;
    }
@media screen and (max-width: 1365px) and (min-width: 1359px){
    .bub{
        top:285px;
    }
}
